server_vm db_url={{ db_url.value }} db_user={{ db_user.value }} db_password={{ db_password.value }} ansible_host={{ environment.value }}.gocd.patient-deductions.nhs.uk ansible_port=22 ansible_user={{ remote_user.value }} ansible_ssh_private_key_file=terraform/ssh/gocd-{{ environment.value }} ansible_become=true

[server]
server_vm gocd_device=/dev/nvme1n1

[{{ environment.value }}:children]
server
