server_vm ansible_host={{ server_public_ip.value }} ansible_user={{ remote_user.value }} ansible_ssh_private_key_file=terraform/ssh/gocd-{{ environment.value }} ansible_become=true

[server]
server_vm gocd_device=/dev/nvme1n1

[{{ environment.value }}:children]
server
